@font-face{
    font-family: 'OpenSansBold';
    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}

@font-face{
    font-family: 'OpenSansMedium';
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face{
    font-family: 'MontserratBold';
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face{
    font-family: 'MontserratMedium';
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face{
    font-family: 'LatoBold';
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face{
    font-family: 'NexaBold';
    src: url(../fonts/nexa/Nexa\ Bold.otf);
}

@font-face{
    font-family: 'NexaLight';
    src: url(../fonts/nexa/Nexa\ Light.otf);
}

body{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1200px;
    margin: 0px auto;
    background-color: #ffffff;
}


.header_content{
    padding: 33px 25px;
}

.logo_contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

@media (max-width: 1200px) {
    .logo_contact{
        grid-template-columns: 1fr 1fr;
    }
  }

@media (max-width: 767px) {
    .logo_contact {
        grid-template-columns: 1fr;
    }
  }

.contact_pic{
    float: left;
    padding-right: 10px;
}

.contact_head{
    font-family: "OpenSansBold";
    font-size: 15px;
    line-height: 22px;
    color: #6a6a6a;
    text-transform: uppercase;
}

.contact_text{
    font-family: "OpenSansMedium";
    font-size: 15px;
    line-height: 22px;
    color: #6a6a6a;
}


.contact_line{
    margin: 20px auto;
    height: 2px;
    opacity: 0.3;
    background-color: #c2c2c2;
}

.navbar{
    margin: 0;
    padding: 0;
    float: left;
}

@media (max-width: 767px) {
    .navbar {
        display: block;
        padding-left:none
    }
  }

.navbar li{
    display: inline-block;
    font-family: "NexaLight";
}

.navbar a{
    text-decoration: none;
    color: #6c6c6c;
    font-size: 20px;
    line-height: 1.2;
    padding-right: 30px
}

.navbar .current{
    font-family: "NexaBold";
    color: #262626;
}

.navbar>li:hover{
        transform: scale(1.1);
        
        color: #262626;
}

.nav_social{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap:30px;
}

@media (max-width: 767px) {
    .nav_social {
        grid-template-columns: 1fr;
    }
}

.contact_socialicon{
    float: right;
}

@media (max-width: 767px) {
    .contact_socialicon {
        float: none;
    }
  }

.contact_socialicon .fa{
    font-size: 23.4px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.5em;
    color: #191919;
}

.fa:hover{
    transform: scale(1.3);
}

.contact_socialicon .fa:hover{
    color: #0087be;
}

.banner{
    background: grey url(../assets/background_banner.jpg) no-repeat center center;
    background-size: cover;
}

.banner_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 120px 0px 70px 100px;
}


@media (max-width: 1200px) {
    .banner_content{
        padding: 120px 0px 70px 50px;
    }
  }

@media (max-width: 767px) {
    .banner_content {
        grid-template-columns: 1fr;
        padding: 120px 0px 70px 10px;
    }
  }

.banner_header{
    font-family: "MontserratMedium";
    font-size: 47.7px;
    line-height: 1.2;
    letter-spacing: -0.025em;
    color: #474747;
    text-align: center;
    margin-bottom: 37px;
}

.banner_text{
    font-family:"OpenSansMedium";
    font-size: 17px;
    line-height: 30px;
    color: #3f3f3f;
    text-align: center;
    margin-bottom: 30px;
    padding: 0px 70px;
}

@media (max-width: 767px) {
    .banner_text {
        padding: 0px 25px;
    }
}

.button_wrap{
    text-align: center;
}

.button_readmore{
    /*стили для кнопки*/ 
    display: inline-block;
    text-decoration: none;
    box-shadow: -4px 11px 40px 0px rgba(0,0,0,0.2);
    background-color: #1a9bdc;
    border-radius: 30px;
    padding: 15px 25px;
    

    /* стили для текста кнопки*/
    font-family: "LatoBold";
    font-size: 18.5px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-align: center;
}

@media (max-width: 1200px) {
    .button_readmore {
        margin: 10px;
    }
}


.button_readmore:hover{
    color: #1a9bdc;
    background-color: #ffffff;
}

.services{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    background: linear-gradient(45deg,#43b1d2,#37c3a8);
    padding: 74px 25px 54px 25px;
    grid-gap: 15px;
}


@media (max-width: 1200px) {
    .services {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
  }

  @media (max-width:767px) {
    .services {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
  }
 

.services_head{
    font-family: "MontserratBold";
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: -0.025em;
    color: #ffffff;
}

.services_text{
    font-family: "OpenSansMedium";
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
}

.why_us_wrap{
    text-align: center;
    padding: 160px 100px 0px;
}

@media (max-width:767px) {
    .why_us_wrap {
    padding: 100px 25px 0px;
  }
}

.why_us_head{
    font-family: "MontserratBold";
    font-size: 45px;
    line-height: 1.2;
    color: #494949;
    margin-bottom: 31px;
}

.why_us_desc{
    font-family: "OpenSansMedium";
    font-size: 16px;
    line-height: 30px;
    color: #6a6a6a;
    margin-bottom: 25px;
    padding: 0px 75px;
}

@media (max-width:767px) {
    .why_us_desc {
        padding: 0;
  }
}

.why_us_content{
    display: grid;
    grid-template-columns: 1fr 337px 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
}

@media (max-width: 1200px) {
    .why_us_content {
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
  }

  @media (max-width:767px) {
    .why_us_content {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
  }

.why_us_pic{
    float: left;
}

.why_us_caption{
    font-family: "MontserratBold";
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #6f6f6e;
    text-align: left;
    padding: 25px 0 25px 100px;
}

.why_us_text{
    clear: both;
    font-family: "OpenSansMedium";
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #6a6a6a;
    text-align: justify;
    padding-top: 15px;
}


.why_us_unit{
    align-self: center;
    padding-bottom: 70px;
}

@media (max-width:767px) {
    .why_us_unit {
        padding-bottom: 20px;
    }
  }

.why_us_doct{
    height: 598px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background: url(../assets/why_us_pi5.jpg) no-repeat center;
}

@media (max-width:767px) {
    .why_us_doct {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 2;
    }
  }

.features{
    padding: 60px 100px;
    text-align: center;
    background: rgba(182, 180, 180, 0.925) url(../assets/background_feature.jpg) no-repeat;
    background-size: cover;
}

@media (max-width:767px) {
    .features {
        padding: 60px 25px;
    }
  }

.features_wrap{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}


@media (max-width:767px) {
    .features_wrap {
        display: block;
    }
  }

.features_head{
    font-family: "MontserratMedium";
    font-size: 60px;
    line-height: 1.2;
    letter-spacing: -0.025em;
    color: #ffffff;
    margin-top: 40px;  
}

.features_text{
    font-family: "MontserratMedium";
    font-size: 25px;
    line-height: 1.2;
    letter-spacing: -0.025em;
    color: #ffffff;
    width: 100%;
}

.features_line{
    width: 84px;
    height: 6px;
    background-color: #ffffff;
    margin: 26px auto;
}

.features_content{
    margin-bottom: 20px;
}


.we_work{
    padding: 100px 100px;
}

@media (max-width: 767px) {
    .we_work {
        padding: 100px 25px;
}
}

.we_work_wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 20px;

    grid-template-areas: 
    "we_work_head we_work_head our_cre_head"
    "we_work_content we_work_content our_cre_content"
    "we_work_pic1 we_work_pic2 heart_tret1"
    "we_work_date1 we_work_date2 heart_tret2"
    "we_work_readmore we_work_readmore ." 
}

@media (max-width: 1200px) {
    .we_work_wrap {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "we_work_head we_work_head"
        "we_work_content we_work_content"
        "we_work_pic1 we_work_pic2"
        "we_work_date1 we_work_date2"
        "our_cre_head our_cre_head"
        "our_cre_content our_cre_content"
        "heart_tret1 heart_tret1"
        "heart_tret2 heart_tret2"
        "we_work_readmore we_work_readmore"
    }
  }

  @media (max-width:767px) {
    .we_work_wrap {
        grid-template-columns: 1fr;
        grid-template-areas:
        "we_work_head"
        "we_work_content"
        "we_work_pic1"
        "we_work_date1"
        "we_work_pic2"
        "we_work_date2"
        "our_cre_head"
        "our_cre_content"
        "heart_tret1"
        "heart_tret2"
        "we_work_readmore"
    }
  }


.we_work_head{
    grid-area: we_work_head;
}

.our_cre_head{
    grid-area: our_cre_head;
}

.we_work_head_style{
    font-family: "MontserratBold";
    font-size: 45px;
    line-height: 1.2;
    color: #494949;
}

@media (max-width:767px) {
    .we_work_head_style {
        text-align: center;
    }
}

.we_work_content{
    grid-area: we_work_content;
}

.our_cre_content{
    grid-area: our_cre_content;
}

.we_work_content_style{
    font-family: "OpenSansMedium";
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #6a6a6a;
    text-align: justify;
}

.we_work_pic1{
    grid-area: we_work_pic1;
}

.pic_style{
    width: 100%;
    object-fit: cover;
}

.we_work_pic2{
    grid-area:we_work_pic2;
}

.heart_tret1{
    grid-area: heart_tret1;
}

.heart_tret_button{
    background: url(../assets/icon.png) no-repeat 10px center, #e2e2e2;
    border-radius: 45.0px;
    padding-left: 60px;
    padding-top: 20px;
    margin-bottom: 20px;

    /*стили для текста */
    font-family: "MontserratMedium";
    font-size: 20px;
    line-height: 1.2;
    color: #494949;
    padding: 18px 0px 18px 60px;
    align-items: center;
}

.button_active{
    background-color: #0087be;
    color: #ffffff;
}

.we_work_date1{
    grid-area: we_work_date1;
}

.we_work_date2{
    grid-area: we_work_date2;
}

.heart_tret2{
    grid-area: heart_tret2;
}

.we_work_readmore{
    grid-area: we_work_readmore;
}

.we_work_date_head{
    font-family: "MontserratMedium";
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.025em;
    color: #6f6f6e;
    margin-bottom: 13px;
}

.we_work_date_extra{
    font-family: "MontserratMedium";
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: -0.025em;
    color: #0087be;
    margin-bottom: 27px;
}


.gallery{
    background: url(../assets/background_gallery.jpg) no-repeat;
    text-align: center;
    padding: 100px 100px;
    background-size: cover;
}

@media (max-width:767px) {
    .gallery {
        padding: 100px 25px;
    }
  }

.gallery_head{
    font-family: "MontserratBold";
    font-size: 45px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 38px;
}

.gallery_text{
    font-family: "OpenSansMedium";
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 54px;
    text-align: justify; 
}


.gallery_content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:30px;
}


@media (max-width: 1200px) {
    .gallery_content {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
  }

  @media (max-width:767px) {
    .gallery_content {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
  }

.ourteam{
    padding: 100px 0px;
    text-align: center;
}

  @media (max-width:1200px) {
    .ourteam {
        padding: 100px 100px;
    }
  }

  @media (max-width:767px) {
    .ourteam {
        padding: 100px 25px;
    }
  }


.ourteam_head{
    font-family: "MontserratBold";
    font-size: 45px;
    line-height: 1.2;
    font-weight: 700;
    color: #494949;
    margin-bottom: 49px;
}

.ourteam_text{
    font-family: "OpenSansMedium";
    font-size: 16px;
    line-height: 30px;
    color: #6a6a6a;
    margin-bottom: 84px;
}

.ourteam_content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
}

@media (max-width:1200px) {
  .ourteam_content{
      grid-template-columns: 1fr 1fr;
      grid-gap: 40px;
  }
}

@media (max-width: 767px) {
    .ourteam_content {
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }
  }

.ourteam_unit{
    text-align: center;
    font-family: "MontserratMedium";
    line-height: 1.2;
    color: #6f6f6e;
}

.doctor_fio{
    font-size: 25px;
    margin-top: 32px;
    margin-bottom: 15px;
}

.doctor_occupation{
    font-size: 18px;
    letter-spacing: -0.025em;
    margin-bottom: 32px;
}

.doctor_contact .fa{
    font-size: 25.3px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.5em;
    color: #0087be;
}

.doctor_contact .fa:hover{
    color: #020f14;
}

.bar{
    background-color: #e2e2e2;
    padding: 50px 50px;
    text-align: center;
}

@media (max-width: 767px) {
    .bar {
        padding: 50px 25px;
    }
  }

.bar_text{
    font-family: "MontserratBold";
    font-size: 30px;
    line-height: 1.2;
    color: #494949;
    float: left;
    padding: 5px 0px;
}

.footer{
    text-align: center;
    background-color: rgb(41, 39, 39);
}

.footer_wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 100px 100px;

    grid-template-areas: 
    "footer_getin footer_links footer_services footer_form"    
}


.footer_getin{
    grid-area: footer_getin;
}

.footer_links{
    grid-area: footer_links;
}

.footer_services{
    grid-area: footer_services;
}

.footer_form{
    grid-area: footer_form;
}


@media (max-width:1200px) {
    .footer_wrap{
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;

        grid-template-areas: 
        "footer_getin footer_links"
        "footer_services footer_form"
    }
  }
  
  @media (max-width: 767px) {
      .footer_wrap {
          grid-template-columns: 1fr;
          grid-gap: 40px;
          padding: 100px 25px;

          grid-template-areas: 
          "footer_getin"
          "footer_form"
        "footer_links"
        "footer_services"
      }
    }


.footer_content_head{
    font-family: "OpenSansBold";
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #ffffff;
    margin-bottom: 70px;
}


@media (max-width: 767px) {
    .footer_content_head {
        margin-bottom: 30px;
    }
  }


.footer_contact{
    margin-bottom: 50px;
}

.footer_pic{
    float: left;
}

.footer_contact_text{
    opacity: 0.5;
    font-family: "OpenSansMedium";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-align: left;
    padding-left: 70px;
}

.footer_list{
    margin: 0;
    padding: 0;
}


.footer_list>li{
    opacity: 0.5;
    font-family: "OpenSansMedium";
    font-size: 16px;
    line-height: 2.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #7e7c7c;
    margin-left: 50px;
    padding-left: 10px;
    text-align: left;
    list-style-type: none;
}


@media (max-width: 767px) {
    .footer_list {
        text-align: left;
    }
}

@media (max-width: 767px) {
    .footer_list>li{
        display: inline-block;
        margin-left:0px;
    }
  }
.footer_list .fa{
    color: #0087be;
    padding-right: 20px;
}



.footer_list>li:hover{
    color: rgb(255, 255, 255);
}

.footer_socialicon{
    text-align: left;
}

@media (max-width: 767px) {
    .footer_socialicon{
        text-align: center;
    }
  }


.footer_socialicon .fa{
    font-size: 25px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.5em;
    color: #ffffff;
}


#name, #phone, #message {
    border:none;
    background-image:none;
    background-color:transparent;
    color: #ffffff;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff;
    font-size: 16px;
}


@media (max-width: 1200px) {
    #name, #phone, #message {
        display: block;
        width: 100%;
    }
}

@media (max-width: 767px) {
    #name, #phone, #message {
        display: block;
        width: 100%;
    }
}

#submit{
    /* стили кнопки */
    box-shadow: -4px 11px 40px 0px rgba(0,0,0,0.2);
    background-color: #0087be;
    border-radius: 40px;
    border: none;

    /* стили текста кнопки*/
    font-family: "LatoBold";
    font-size: 13.8px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #ffffff;
    padding: 10px 45px;
}

#message{
    padding: 0;
    resize: none;
}

.footer_copyright{
    font-family: "OpenSansMedium";
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #615555;
    padding: 50px;
}

@media (max-width: 767px) {
    .footer_copyright {
        padding: 25px;
    }
}